
/* Base Styles */

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightgray;
}

header {
    text-align: center;
    text-decoration-color: white;
    background-color: gray;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
}

aside {
    flex-basis: 25%;
}

section {
    flex-basis: 70%;
}

footer {
    text-align: center;
}
table,td{
    border: 1px solid black;
}

/* Media Queries */

/* Adjust layout for screens smaller than 768px */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    aside, main {
        flex-basis: 100%;
    }
}

/* Adjust header for screens smaller than 480px */
@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 16px;
    }
}